[Unit]
Description=Backend PHP Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/backend/server.php QA backend
WorkingDirectory=/home/%u/Cinemaniacs/backend
Restart=on-failure

[Install]
WantedBy=default.target
