[Unit]
Description=Backend PHP Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php %h/Cinemaniacs/serverBackend/testRabbitMQServer.php
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
