[Unit]
Description=Deployment PHP Server
After=network.target mysql.service rabbitmq-server.service

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/deployment/deploymentServer.php
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
