[Unit]
Description=Deployment PHP Server
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/Cinemaniacs/deployment
ExecStart=/usr/bin/php %h/Cinemaniacs/deployment/deploymentServer.php
Restart=always

[Install]
WantedBy=default.target
