[Unit]
Description=PROD Backend VM Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '
  systemctl start tailscaled &&
  systemctl start rabbitmq-server &&
  systemctl start ssh &&
  systemctl start mysql &&
  php /home/%u/Cinemaniacs/dev/server.php PROD backend
'
Restart=on-failure

[Install]
WantedBy=default.target
