[Unit]
Description=PROD Backend VM listener
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/backend/server.php PROD backend
Restart=always

[Install]
WantedBy=default.target