[Unit]
Description=PROD DMZ VM startup
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/backend/server.php PROD dmz
Restart=always

[Install]
WantedBy=default.target
