[Unit]
Description=PROD Frontend VM listener
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/backend/server.php PROD frontend
Restart=always

[Install]
WantedBy=default.target
