[Unit]
Description=QA Backend listener
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/Cinemaniacs/vm
ExecStart=/usr/bin/php %h/Cinemaniacs/vm/server.php QA backend
Restart=always

[Install]
WantedBy=default.target
