[Unit]
Description=QA Backend listener
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php %h/Cinemaniacs/backend/server.php QA backend
Restart=on-failure

[Install]
WantedBy=default.target
