[Unit]
Description=QA Backend VM listener
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/backend/server.php QA backend
Restart=always

[Install]
WantedBy=default.target