[Unit]
Description=QA DMZ VM startup
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/backend/server.php QA dmz
Restart=always

[Install]
WantedBy=default.target
