[Unit]
Description=QA DMZ VM listener
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/vm/server.php QA dmz
Restart=always

[Install]
WantedBy=default.target
