[Unit]
Description=QA Frontend VM listener
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/Cinemaniacs/vm
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/vm/server.php QA frontend
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
