[Unit]
Description=QA Frontend VM startup
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /home/%u/Cinemaniacs/backend/server.php QA frontend
Restart=always

[Install]
WantedBy=default.target
